################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Debug
/.vs
/Vector3.sln
/Vector3.vcxproj.user
/Vector3.vcxproj.filters
/Vector3.vcxproj
